@inject DialogService dialogService
@inject IJSRuntime JSRuntime

<p>CreateNewRoute</p>

<div id="mapid"></div>

    @code {

        //ElementReference mapid;

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await JSRuntime.InvokeVoidAsync("Main.leaflet_start");
                firstRender = false;
            }
        }

    }
