@using RunTogether.Data
@using Microsoft.AspNetCore.Identity
@using RunTogether.Areas.Identity
@using RunTogether.Areas.Identity.Helpers

@inject ApplicationDbContext dbContext
@inject DialogService dialogService
@inject UserCreationHelper userCreation

<p>Udfyld formularen for at skabe en ny sponsor:</p>

<RadzenTemplateForm TItem="Sponsor" Data="@NewSponsor" Submit="()=> OnSubmit(NewSponsor)" InvalidSubmit="()=> OnInvalidSubmit()">

    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-4 align-right">
            <RadzenLabel Text="Sponsor navn" />
        </div>
        <div class="col">
            <RadzenTextBox Name="Name" @bind-Value="NewSponsor.Name" /><br>
            <RadzenRequiredValidator Component="Name" Text="Sponsor navn skal udfyldes" Popup=true Style="position: absolute" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-4 align-right">
            <RadzenLabel Text="Billede" />
        </div>
        <div class="col">
            <p>
                <InputFile OnChange="@OnInputFileChange" multiple />
            </p>
            <h4>Forhåndsvisning</h4>
            <img class="rounded m-1" src="@NewSponsor.Image" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="margin-bottom: 10px; width: 150px" />
            <RadzenButton Click="()=> dialogService.Close(false)" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
        </div>
    </div>
</RadzenTemplateForm>