@using RunTogether.Data
@using Microsoft.AspNetCore.Identity
@using RunTogether.Areas.Identity
@using RunTogether.Areas.Identity.Helpers

@inject ApplicationDbContext dbContext
@inject DialogService dialogService
@inject UserCreationHelper userCreation

<p>Udfyld formularen for at skabe en ny løber:</p>

<RadzenTemplateForm TItem="ApplicationUser" Data="@runner" Submit="()=> OnSubmit(runner.FirstName, runner.LastName, runner.Email, selectedRun)" InvalidSubmit="()=> OnInvalidSubmit()">

    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-4 align-right">
            <RadzenLabel Text="Fornavn" />
        </div>
        <div class="col">
            <RadzenTextBox Name="FirstName" @bind-Value="runner.FirstName" /><br>
            <RadzenRequiredValidator Component="FirstName" Text="Fornavn skal udfyldes" Popup=true Style="position: absolute" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-4 align-right">
            <RadzenLabel Text="Efternavn" />
        </div>
        <div class="col">
            <RadzenTextBox Name="LastName" @bind-Value="runner.LastName" /><br>
            <RadzenRequiredValidator Component="LastName" Text="Efternavn skal udfyldes" Popup=true Style="position: absolute" />
        </div>
    </div>

    <div class="row" style="margin-bottom: 48px">
        <div class="col-md-4 align-right">
            <RadzenLabel Text="Email" />
        </div>
        <div class="col">
            <RadzenTextBox Name="Email" @bind-Value="runner.Email" /><br>
            <RadzenRequiredValidator Component="Email" Text="Email skal udfyldes" Popup=true Style="position: absolute" />
            <RadzenEmailValidator Component="Email" Text="Angiv en gyldig e-mail-adresse" Popup=true Style="position: absolute" />
            <RadzenCompareValidator Component="Email" Text="Email findes allerede for dette løb" Popup=true Style="position: absolute" Value=FindRunner(runner.Email) Operator=CompareOperator.NotEqual/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <RadzenButton ButtonType="ButtonType.Submit" Text="OK" Style="margin-bottom: 10px; width: 150px" />
            <RadzenButton Click="()=> dialogService.Close(false)" ButtonStyle="ButtonStyle.Secondary" Text="Cancel" Style="margin-bottom: 10px; width: 150px" />
        </div>
    </div>
</RadzenTemplateForm>
