@using RunTogether.Data
@inject IJSRuntime JsRunTime
@inject ApplicationDbContext dbContext

<div class="mapid" id="mapid">
    <div class="mapLogo">
        <img src="/RunLogo.png" alt="RunTogetherLogo" />
        <object type="image/svg+xml" data="/heartIconAnimatedViewer.svg"></object>
        <img src="/TogetherLogo.png" alt="RunTogetherLogo" />
    </div>
</div>