@using RunTogether.Data


@inject IJSRuntime JsRunTime
@inject ApplicationDbContext dbContext

<h3>LeafletMap Editor</h3>

<div id="mapid"></div>

@*<div @onmousedown="ClickEvent" id="mapid"></div>*@

