@page "/Map"

@inject IJSRuntime JsRunTime


<h1>{Test side for Map}</h1>

<button class="btn btn-primary" @onclick="button_add">Tilføje markers og linjer</button>
<button class="btn btn-primary" @onclick="button_remove">Fjerne markers og linjer</button>
<br>
<div id="mapid"></div>

@*<div @ref="mapid" @onmousedown="CreateMarker" id="mapid"></div>*@

@*<p>@Coordinates</p>*@



@code {
    ElementReference mapid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRunTime.InvokeVoidAsync("Main.leaflet_start");
            StateHasChanged(); 
            @*firstRender = false;*@
        }

    }

    private async void button_add()
    {
        await JsRunTime.InvokeVoidAsync("Main.buttonAdd");
    }


    private async void button_remove()
    {
        await JsRunTime.InvokeVoidAsync("Main.buttonRemove");
    }


    @*
        protected string Coordinates { get; set; }

        protected void Mouse_Move(MouseEventArgs e)
        {
            Coordinates = $"X = {e.ClientX } Y = {e.ClientY}";
        }

        private async void CreateMarker()
        {
            await JsRunTime.InvokeVoidAsync("Main.onMapClick");
        }

    *@
}
