@page "/Map"

@inject IJSRuntime JsRunTime


<h1>Map</h1>

<div id="mapid"></div>

@*<div @ref="mapid" @onmousedown="CreateMarker" id="mapid"></div>*@

@*<p>@Coordinates</p>*@



@code {
    ElementReference mapid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRunTime.InvokeVoidAsync("Main.leaflet_start");
            firstRender = false;
        }

    }
    @*
        protected string Coordinates { get; set; }

        protected void Mouse_Move(MouseEventArgs e)
        {
            Coordinates = $"X = {e.ClientX } Y = {e.ClientY}";
        }

        private async void CreateMarker()
        {
            await JsRunTime.InvokeVoidAsync("Main.b");
        }

     *@
}
