
@using Microsoft.EntityFrameworkCore
@using System.Collections.Generic
@using RunTogether.Data

@inject ApplicationDbContext dbContext


<h3>DataTable</h3>

<button @onclick="DbTestData">add data to table</button>

<RadzenGrid @ref="table" Data="@runs" AllowFiltering="true" AllowSorting="true" TItem="Run">
    <Columns>
        <RadzenGridColumn TItem="Run" Property="ID" Title="ID"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="StartDate" Title="Start Date"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="EndDate" Title="End Date"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="Route" Title="Route"></RadzenGridColumn>
    </Columns>
</RadzenGrid>



@code {

    RadzenGrid<Run> table;

    IEnumerable<Run> runs;

    protected override void OnInitialized()
    {
        runs = dbContext.Runs;
    }

    private void DbTestData()
    {
        var run = new Run { EndDate = DateTime.Today, StartDate = DateTime.Today };
        dbContext.Runs.Add(run);
        dbContext.SaveChanges();
        table.Reload();
    }
}