@page "/DataTable"
@using Microsoft.EntityFrameworkCore
@using System.Collections.Generic
@using RunTogether.Data
@using RunTogether.Pages

@inject ApplicationDbContext dbContext
@inject DialogService dialogService

<h3>DataTable</h3>
<RadzenButton Text=@($"New run") Click="@((args) => dialogService.Open<CreateRunDialog>($"New run",
                        new Dictionary<string, object>(),
                        new DialogOptions() { Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" }))" />

<RadzenButton Text=@($"Show simple dialog") Click="@ShowSimpleDialog" />

<RadzenGrid @ref="table" Data="@runs" AllowFiltering="true" AllowSorting="true" TItem="Run">
    <Columns>
        <RadzenGridColumn TItem="Run" Property="ID" Title="ID"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="StartDate" Title="Start Date"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="EndDate" Title="End Date"></RadzenGridColumn>
        <RadzenGridColumn TItem="Run" Property="Route" Title="Route"></RadzenGridColumn>
    </Columns>
</RadzenGrid>



@code {

    public string Teststring = "thisisatest";
    RadzenGrid<Run> table;

    IEnumerable<Run> runs;

    Run run = new Run();

    protected override void OnInitialized()
    {
        runs = dbContext.Runs;
    }

    public void DbTestData(Run run)
    {
        dbContext.Runs.Add(run);
        dbContext.SaveChanges();
        table.Reload();
    }


    async Task ShowSimpleDialog() => await dialogService.OpenAsync("Simple Dialog", ds =>
    @<RadzenCard Style="padding: 20px;">
        <p Style="margin-bottom: 10px;">@Teststring</p>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Text="Ok" Click="()=> ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Cancel" Click="()=> ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
            </div>
        </div>
    </RadzenCard>);


void OnSubmit(Run run)
{
Console.WriteLine("YEY!");
this.dialogService.Close(true);

}

void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
{
Console.WriteLine("AW");
}

}
