<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RunTogether</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="build" aria-hidden="true" Style="margin: 0 10px 0 0" /> Admin panel
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <RadzenIcon Icon="add_location" aria-hidden="true" Style="margin: 0 10px 0 0" /> Rediger rute
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <RadzenIcon Icon="directions_run" aria-hidden="true" Style="margin: 0 10px 0 0" /> Skab løber
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
