@inject IJSRuntime JSRuntime

<!-- Navigation bar top title -->
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Navigation</a>
</div>

<!-- Pages/buttons on the navigation bar -->
<div class="scrollable">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span class="oi oi-arrow-left back-arrow" aria-hidden="true"></span> Tilbage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@($"admin/organisers") Match="NavLinkMatch.All">
                <RadzenIcon Icon="assignment_ind" /> Organiser(s)
            </NavLink>
        </li>
    </ul>
</div>