@inject IJSRuntime JSRuntime

<!-- Navigation bar top title -->
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Navigation</a>
</div>

<!-- Pages/buttons on the navigation bar -->
<div class="scrollable">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="oi oi-plus" aria-hidden="true"></span> admin
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="viewer">
                <span class="oi oi-plus" aria-hidden="true"></span> Viewer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="runner">
                <span class="oi oi-plus" aria-hidden="true"></span> Runner
            </NavLink>
        </li>
    </ul>
</div>