@using RunTogether.Data

@inject DialogService dialogService
@inject ApplicationDbContext dbContext
@inject IJSRuntime JSRuntime

<!-- Sponsor bar top title -->
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sponsors</a>
</div>

<!-- List of all sponsors -->
<div class="scrollable">
    <ul>
        @foreach (var sponsor in dbContext.Sponsors)
        {
            <RadzenImage Path="@sponsor.Image" Style="height: 10rem; max-width: 100%; object-fit: contain" />
        }
    </ul>
</div>
