RunTogether/bin/
RunTogether/obj/
RunTogether/wwwroot/js/
RunTogether/Data/Migrations/
RunTogether/Migrations/
RunTogether/Properties/launchSettings.json
RunTogether/RunTogether.csproj.user
RunTogetherTest/bin/
RunTogetherTest/obj/
RunTogetherTest/wwwroot/js/
RunTogetherTest/Data/Migrations/
RunTogetherTest/Migrations/
RunTogetherTest/Properties/launchSettings.json
RunTogetherTest/RunTogether.csproj.user
.vs/
.vscode/
/RunTogetherTests/obj/Debug/netcoreapp3.1
/RunTogetherTests/obj
/RunTogetherTests/bin/Debug/netcoreapp3.1
RunTogether.sln.DotSettings.user
RunTogetherTests/bin/Debug/netcoreapp5.0
