@layout RunTogether.Shared.Layouts.OrganiserLayout

@page "/admin"
@using RunTogether.Shared.QR
@using RunTogether.Shared.Etc

@inject RunTogether.Data.ApplicationDbContext dbContext

<h3>Admin</h3>

<DataTable></DataTable>

@code {

}
