@layout RunTogether.Shared.Layouts.AdminLayout

@using RunTogether.Shared.QR.QRScanner
@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>@qrCode</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<QRScanner OnCodeScanned="((v) => { qrCode = v; })" />

@code {
    private int currentCount = 0;
    private string qrCode = "";

    private void IncrementCount()
    {
        currentCount++;
    }
}
