@page "/counter"

@inject IJSRuntime JsRunTime

<h1>Map</h1>

<div @ref="mapid" id="mapid"></div>

<br>
<p>Load a markers to map</p>
<button class="btn btn-primary" @onclick="LoadMarker">Click me</button>



@code {

    ElementReference mapid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRunTime.InvokeVoidAsync("Main.leaflet_start");
            firstRender = false;    
        }

    }

@*    protected override async Task OnAfterRenderAsync(bool firstRender)
    {       
        if (firstRender)
        {
            await JsRunTime.InvokeVoidAsync("Main.leaflet_start", null);
            StateHasChanged(); 
        }

    }*@


    @*private int currentCount = 0;*@

    private async void LoadMarker()
    {
            await JsRunTime.InvokeVoidAsync("Main.addMarker");
    }

}
