@page "/"

@inject IJSRuntime JsRunTime

<h1>Map</h1>

@*<Welcome to your new app.

    SurveyPrompt Title="How is Blazor working for you?" />*@

<div @ref="mapid" id="mapid"></div>

@code {

    ElementReference mapid;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRunTime.InvokeVoidAsync("Main.leaflet_start");
            firstRender = false; 
        }

    }

}
