@page "/"

@using RunTogether.Shared.QR
@using RunTogether.Shared.Etc

@layout RunTogether.Shared.Layouts.ViewerLayout

<h1>Hello, world!</h1>

<QRGenerator code="ITSWORKING!" size="100"/>

Welcome to your new app.

<DataTable></DataTable>