@page "/"
@using RunTogether.Shared.QR
@using RunTogether.Shared.Etc 

@inject RunTogether.Data.ApplicationDbContext dbContext

<h1>Hello, world!</h1>

<QRGenerator code="ITSWORKING!" size="100"/>

Welcome to your new app.

<DataTable></DataTable>

@code{

}