@page "/"

@using RunTogether.Shared.QR
@using RunTogether.Shared.Etc

@layout RunTogether.Shared.Layouts.MainLayout

@inject IJSRuntime JsRunTime

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

}
