@page "/runner"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Identity.UserManager<RunTogether.Areas.Identity.ApplicationUser> UserManager
@inject RunTogether.Data.ApplicationDbContext dbContext

@using RunTogether.Shared.QR.QRScanner

@layout RunTogether.Shared.Layouts.RunnerLayout

<div class="row @cameraCSS">
    <div class="col">
        <h3>Tryk på knappen for at scanne QR-koden.</h3>
        <br />
        <QRScanner OnCodeScanned="((v) => { qrCode = v; })" />
        <br />
    </div>
</div>

<RadzenButton Click="@CheckCode" Text="Tjek kode" Style="margin-bottom: 20px;" />


<div class="row @startRunCSS">
    <div class="col">
        <h3>Når du er klar til at løbe, tryk på Start Løb.</h3>
        <br />
        <RadzenButton Click="@StartRun" Text="Start Løb" Style="margin-bottom: 20px;" />
    </div>
</div>

