@using RunTogether.Shared.Forms
@inject DialogService dialogService

@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png" Style="width:200px" class="logo"></RadzenImage>
        <LoginDisplay />
    </div>

    <RadzenDialog />

    <RadzenCard Style="height: auto">
        <RadzenMenu>
            <RadzenMenuItem Text="Skab ny løber" Icon="directions_run"
                            @onclick="@(args => dialogService.Open<CreateNewRunner>("Skab ny løber",
                                        new Dictionary<string, object>(),
                                        new DialogOptions(){ Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" }))">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Slet løber" Icon="delete">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Skab ny rute" Icon="add_location">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Rediger rute" Icon="edit_location">
            </RadzenMenuItem>
        </RadzenMenu>
    </RadzenCard>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public string Trademark { get; set; } = "RunTogether 2020" +
        "Designet af: SW318E20";
}
