@using RunTogether.Shared.Forms
@inject DialogService dialogService

@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png" Style="width:200px" class="logo"></RadzenImage>
        <LoginDisplay />
    </div>

    <RadzenDialog />

    <RadzenCard Style="height: auto">
        <RadzenMenu Click="@(args => ShowDialog(args))">
            <RadzenMenuItem Text="Skab ny løber" Icon="person_add">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Rediger løber" Icon="person_search">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Skab ny rute" Icon="add_location">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Rediger rute" Icon="edit_location">
            </RadzenMenuItem>
        </RadzenMenu>
    </RadzenCard>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    void ShowDialog(MenuItemEventArgs e)
    {
        if (e.Text == "Skab ny løber")
        {
            dialogService.Open<CreateNewRunner>("Skab ny løber",
                new Dictionary<string, object>(),
                new DialogOptions() { Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" });
        }

        if (e.Text == "Rediger løber")
        {
            dialogService.Open<EditRunner>("Rediger løber",
                new Dictionary<string, object>(),
                new DialogOptions() { Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" });
        }

        if (e.Text == "Skab ny rute")
        {
            dialogService.Open<CreateNewRoute>("Skab ny rute",
                new Dictionary<string, object>(),
                new DialogOptions() { Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" });
        }

        if (e.Text == "Rediger rute")
        {
            dialogService.Open<EditRoute>("Rediger rute",
                new Dictionary<string, object>(),
                new DialogOptions() { Width = "700px", Height = "530px", Left = "calc(50% - 350px)", Top = "calc(50% - 265px)" });
        }
    }
}
