@using RunTogether.Shared.Etc

@inject IJSRuntime JSRuntime

@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <!-- RunTogether logo -->
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png"
                     Style="width:200px" class="logo logo-align-left"></RadzenImage>
    </div>

    <!-- Main content -->
    <div class="content px-4">
        @Body
    </div>
</div>
