@using RunTogether.Shared.Etc

@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div class="main mainViewer">
    <button class="navbar-toggler viewer-toggler" @onclick="ToggleSidebar">
        <span class="oi oi-menu"></span>
    </button>
    <!-- Main content of the page -->
    <div>
        @Body
    </div>
</div>

<!-- Sponsor bar -->
<div class="sidebar sidebarViewer" id="sponsorbarId">
    <SponsorBar />
</div>
