@using RunTogether.Shared.Etc

@inject IJSRuntime JSRuntime

@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <!-- Sidebar toggle open/close button --> 
        <button class="navbar-toggler" @onclick="toggleSidebar">
            Sponsors <span class="oi oi-menu"></span>
        </button>
        
        <!-- RunTogether logo -->
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png"
                     Style="width:200px" class="logo"></RadzenImage>
    </div>

    <div class="content px-4">
        @Body <!-- Main content of the page -->
    </div>
</div>

<div class="sidebar" id="sponsorbarId">
    <SponsorBar /> <!-- Sponsor bar -->
</div>

@code {
    /* Keeps track of whether sidebar is collapsed or not. By default not collapsed */
    bool collapsed = false;

    string sidebarId = "sponsorbarId";

    async Task toggleSidebar()
    {
        collapsed = !collapsed;

        if (collapsed == false) /* Open */
        {
            await JSRuntime.InvokeVoidAsync("Main.sidebar.sidebarToggle",
                new { id = sidebarId, attribute = "width", value = "15rem" });
        }
        else /* Close */
        {
            await JSRuntime.InvokeVoidAsync("Main.sidebar.sidebarToggle",
                new { id = sidebarId, attribute = "width", value = "0" });
        }
    }
}
