@using RunTogether.Shared.Etc

@inherits LayoutComponentBase

<div class="sidebar">
    <SponsorBar/>
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png" Style="width:200px" class="logo"></RadzenImage>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    public string Trademark { get; set; } = "RunTogether 2020" +
        "Designet af: SW318E20";

    void Click(bool collapsed)
    {
        
    }

}
