@using RunTogether.Shared.Etc
@inject IJSRuntime JSRuntime

@inherits LayoutComponentBase

<div class="sidebar" id="sidebarId">
    <SponsorBar/>
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <button class="navbar-toggler" @onclick="toggleNav">
            <span class="oi oi-menu"></span>
        </button>
        <RadzenImage Path="https://www.runtogether.dk/wp-content/uploads/2020/03/ny-red.png" Style="width:200px" class="logo"></RadzenImage>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    bool collapseNavMenu = true;

    string navId = "sidebarId";

    async Task toggleNav()
    {
        collapseNavMenu = !collapseNavMenu;

        if (collapseNavMenu == true)
        {
            await JSRuntime.InvokeVoidAsync("Main.navbar.navbarToggleOpen", new { id = navId, attribute = "width", value = "250px" });
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("Main.navbar.navbarToggleClose", new { id = navId, attribute = "width", value = "0" });
        }
    }
}
