@using QRCoder

@if (qrCodeImageAsBase64 == null)
{
    <p>QR code failed to load...</p>
}
else
{

    <div>
        <img id="QRCodeImg" alt="Embedded QR Code" src="data:image/bmp;base64,@qrCodeImageAsBase64" width="50%" height="50%" class="center"/>
    </div>

}

