@using QRCoder

@if (qrCodeImageAsBase64 == null)
{
    <p>QR code failed to load...</p>
}
else
{

    <div>
        <img id="QRCodeImg" alt="Embedded QR Code" src="data:image/bmp;base64,@qrCodeImageAsBase64" width="100%" height="100%" />
    </div>

}

