@inject IJSRuntime jsRuntime
@inject PromiseHelper PromiseHelper

@using RunTogether.Areas.Identity.Helpers
@using RunTogether.Data
@using Radzen

@if (hasCamera)
{
    @*<button @onclick="InitializeQrScanner" value="StartCamera">Start Camera</button>*@
    <RadzenButton Click="@(InitializeQrScanner)" Text="Start Camera" Style="margin-bottom: 20px;" />

    <div class="qr-camera @_currentClass" style="animation-duration: @(FadeTime)ms">
        <div class="qr-camera-ui">
            <div class="close-button">
                <RadzenIcon Icon="close" @onclick="DestroyQrScanner" />
            </div>
            <div class="qr-field">
                <div></div>
            </div>
            @if (hasFlash)
            {
                <div class="flash-button">
                    <RadzenIcon Icon="@(flashOn ? "flash_on" : "flash_off")" @onclick="ToggleFlash" />
                </div>
            }
        </div>
        <video id="qrVideo"></video>
    </div>
}
else
{
    <p>No Camera Found</p>
}

