body {
    padding: 0px;
    margin: 0px;
}

#mapid {
    height: 100vh;
    width: 100%;
}

.mapLogo {
    height: 60px;
    width: 300px;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 500;
}

.mapLogo img {
    height: 100%;
}

.mapLogo object {
    height: 100%;
    width: 53%;
    margin: 0 -15%;
}

.completedStage {
    stroke: rgba(255, 101, 101);
}

.notStartedStage {
    stroke: rgb(200, 200, 200);
}

.activeStageOverlay {
    stroke: rgb(255, 101, 101);
}
.activeStage {
    stroke: rgb(200, 200, 200);
}
